NODE_ENV=development
PORT=3001
BASE_URL=https://front.primecore.online
KRATOS_PATH=/kratos
DATABASE_CLIENT=sqlite3
DATABASE_URL=
SQLITE_FILENAME=./data/dev.sqlite3
INVITES_GENERATE_PATH=/notifications/core/invites/generate
INVITES_REDEEM_PATH=/notifications/core/invites/redeem
INVITATION_FRONT_URL=https://front.primecore.online
NOTIFY_API_URL=https://front.primecore.online/notify-api/api/v1/notify
NOTIFY_SUBJECT=Enlace de verificacion Primecore
NOTIFY_TYPE=email
NOTIFY_BODY_TEMPLATE=El enlace para validacion de correo electronica de primecore es {{url_UUID}}
ADMIN_EMAIL=adminpass.com
ADMIN_PASSWORD=Adminpass!
INVITATION_FRONT_REGISTER_PATH=/registro
